.sign-up-button {
    background-color: white; 
    border: none;
    color: black;
    padding: 15px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 45px;
    outline: 2px solid #ebde52;

    
    position: absolute;
    top: 15px; 
    right: 140px; 
}