.sign-in-button {
    background-color: transparent; 
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #333;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 400;
    transition: all 0.2s ease;
}

.sign-in-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}